<h1>Liste des participants</h1>

<p class="text-success"><%= notice %></p>

<table class="table">
  <tr>
    <th></th>
    <th>Nom</th>
    <th>Contributions</th>
    <th>Balance</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>

<% @utilisateurs.each do |utilisateur| %>
  <tr>
    <td><i class="icon-user"></i></td>
    
    <td><%= link_to utilisateur.name, utilisateur_path(utilisateur) %></td>
    
    <td>
      <b><%= utilisateur.somme_contributions %> contribution(s)</b>
      pour un total de 
      <b><%= number_to_currency(utilisateur.total_contributions) %></b>
    </td>
    
    <td class="<%= style_argent(utilisateur.balance) %>"><%= number_to_currency(utilisateur.balance, format: "%n %u") %></td>
    
    <td><%= utilisateur.email %></td>
    
    <td>
      <%= link_to edit_utilisateur_path(utilisateur) do %>
        <i class="icon-pencil"></i>
      <% end %>
    </td>
    <td>
      <b>
        <%= link_to utilisateur, method: :delete, 
            data: { confirm: "Êtes vous sûr de vouloir supprimer #{utilisateur.name} ? (suppréssion définitive)" },
            title: "Supprimer le participant" do %>
          <i class="icon-remove"></i>
        <% end %>
      </b>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to new_utilisateur_path do %>
  <i class="icon-plus"></i>Ajouter un nouvel utilisateur
<%  end %>