<%= form_for(@contribution) do |f| %>
  <% if @contribution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contribution.errors.count, "error") %> prohibited this contribution from being saved:</h2>

      <ul>
      <% @contribution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description do %>
      Description de la contribution:
    <% end %>
    <%= f.text_area :description, :size => "24x6" %>
  </div>
  <div class="field">
    <%= f.label :somme  do %>
      Somme (exemple : 20.55) :
    <% end %> 
    <%= f.text_field :somme %>
  </div>

  <div class="field">
    <%= f.label :utilisateur_id %>
    <%= f.number_field :utilisateur_id %>
  </div>

  <div class="actions">
    <%= f.submit "Enregistrer !" %>
  </div>
<% end %>
