<h1>Liste des contributions</h1>

<table class="table">
  <tr>
    <th>Description</th>
    <th></th>
    <th>Somme</th>
    <th>Participant</th>
    <th></th>
    <th></th>
  </tr>

<% @contributions.each do |contribution| %>
  <tr>
    <td><%= contribution.description %></td>
    <td></td>
    <td><%= number_to_currency(contribution.somme, format: "%n %u") %></td>
    <td><%= contribution.utilisateur.name %></td>
    <td>
      <%= link_to edit_contribution_path(contribution) do %>
        <i class="icon-pencil"></i>
      <% end %>
    </td>
    <td>
      <b>
        <%= link_to contribution, method: :delete,
            data: { confirm: "Êtes vous sûr de vouloir supprimer \"#{contribution.description_courte}\" ? (suppréssion définitive)" },
            title: "Supprimer le participant" do %>
          <i class="icon-remove"></i>
        <% end %>
      </b>
    </td>
  </tr>
<% end %>
  <tr>
    <td></td>
    <td>TOTAL</td>
    <td>
      <b>
        <%= number_to_currency(Contribution.sum("somme"), format: "%n %u") %>
      </b>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>TOTAL PAR PERSONNE</td>
    <td>
      <b>
        <%= number_to_currency(a_payer, format: "%n %u") %>
      </b>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<br />

<%= link_to new_contribution_path do %>
  <i class="icon-plus"></i> Ajouter une contribution
<% end  %>
