<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @contribution.description %>
</p>

<p>
  <b>Somme:</b>
  <%= @contribution.somme %>
</p>

<p>
  <b>Utilisateur:</b>
  <%= @contribution.utilisateur_id %>
</p>


<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
<%= link_to 'Back', contributions_path %>
