<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "erreur") %> empèche(nt) l'enregistrement :</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :somme  do %>
      Somme du don (exemple : 20.55) :
    <% end %> 
    <%= f.text_field :somme %>
  </div>

  <div class="field">
    <%= f.label :utilisateur_id do %>
      Cette personne:
    <% end %> 
    <%= select("payment", "utilisateur_id", Utilisateur.all.collect {|p| [ p.name, p.id ] }) %>
  </div>

  <div class="field">
    <%= f.label :vers_utilisateur_id do %>
      a donnée à cette personne:
    <% end %> 
    <%= select("payment", "vers_utilisateur_id", Utilisateur.all.collect {|p| [ p.name, p.id ] }) %>
  </div>

  <div class="field">
    <%= f.label :description do %>
      infos supplémentaires (facultatif):
    <% end %>
    <%= f.text_area :description, :size => "24x6" %>
  </div>

  <div class="actions">
    <%= f.submit "Enregistrer !" %>
  </div>
<% end %>
