
  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
      <h1 id="app-titre">Ystava</h1>
        <nav>
          <ul class="nav">
            <li><%= link_to "Détails", root_path %></li>
            <li><%= link_to "Liste des participants", utilisateurs_path %></li>
            <li><%= link_to "Ajouter une contribution", new_contribution_path %></li>
            <li><%= link_to "Ajouter un don", new_payment_path %></li>
            <li><%= link_to "Liste des contributions", contributions_path %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>