<!DOCTYPE html>
<html>
  <head>
    <title><%= titre_complet(yield(:titreambivalant)) %>f</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div id="corp-page" class="container">
      <%= yield %>
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>